.terminal {
  font-family: "Monaco";
}

.terminal__header {
  height: 28px;
  background-color: $terminal-header-bkg;
  border-radius: 10px 10px 0 0;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.terminal__dot {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  margin-left: 9px;
}

.terminal__dot-red {
  background-color: $red-bkg;
  border: 1px solid $red-border;
}

.terminal__dot-orange {
  background-color: $orange-bkg;
  border: 1px solid $orange-border;
}

.terminal__dot-green {
  background-color: $green-bkg;
  border: 1px solid $green-border;
}

.terminal__window {
  background-color: $terminal-bkg;
  padding: 35px;
  box-shadow: 0 50px 100px rgba(50, 50, 93, 0.15),
    0 15px 35px rgba(50, 50, 93, 0.2), 0 5px 15px rgba(0, 0, 0, 0.12);
}

.terminal__item {
  font-size: 16px;
}

.terminal__item:not(:last-child) {
  margin-bottom: 25px;
}

.terminal__command {
  color: $terminal-command;
  line-height: 24px;
  &::before {
    content: ">\A0";
  }
}

.terminal__output {
  color: $terminal-output;
  line-height: 24px;
}

.terminal__link {
  color: $terminal-link;
  text-decoration: none;
}

.terminal__cursor {
  display: inline-block;
  margin-bottom: -5px;
  height: 20px;
  width: 9px;
  background-color: $terminal-cursor;

  animation-name: shimmer;
  animation-duration: 1s;
  animation-iteration-count: infinite;
  animation-timing-function: steps(1);
}

@keyframes shimmer {
  50% {
    background-color: transparent;
  }
}
