$bkg-body: #f6f9fc;

$header-color: rgb(90, 93, 122);

$secondary: #747fe0;

$text: #525f7f;

$terminal-bkg: #5a5d7a;
$terminal-header-bkg: #e4e3e5;
$terminal-command: white;
$terminal-output: #e7d184;
$terminal-link: #35feff;
$terminal-cursor: hsla(0, 0%, 97%, 0.65);

$red-bkg: #f96256;
$red-border: #f65549;

$green-bkg: #33c948;
$green-border: #2dbb41;

$orange-bkg: #fdbc3d;
$orange-border: #ffb524;

$tech-border: #92eac0;

$btn-hover: #7795f8;

$link-hover-shadow: 0 7px 14px rgba(50, 50, 93, 0.1),
  0 3px 6px rgba(0, 0, 0, 0.08);
